.wave {
    position: absolute;
    width: 380px; 
    height: 300px;
    background-color: rgb(40,40,40);
    border-radius: 9px;
    top: 128px;
    left: 486px;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(56, 53, 248, 0.11);
    -moz-box-shadow: 0px 0px 8px 6px rgba(56, 53, 248, 0.11);
    box-shadow: 0px 0px 8px 6px rgba(56, 53, 248, 0.11);
}
.xznewave {
    position: absolute;
    border-radius: 9px;
    width: 380px;
    height: 121px;
    background-color: rgb(46,46,46);
    top: 307px;
    left: 486px;
    z-index: 1;
}

.imgwave {
    width: 355px;
    height: 189px;
    position: absolute;
    top: 139px;
    left: 499px;
    border-radius: 9px;
}
.despwave {
    position: absolute;
    color: rgb(127, 109, 231);
    font-weight: bolder;
    font-size: 80%;
    width: 411px;
    font-family: Arial, Helvetica, sans-serif;
    top: 321px;
    left: 531px;
    z-index: 1;
}

.statuswav {
    width: 12px;
    position: absolute;
    z-index: 2;
    height: 12px;
    top: 343px;
    left: 497px;
    border-radius: 20px;
}
.statustextwave {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(127, 109, 231);
    top: 341px;
    left: 516px;
    z-index: 1;
    font-size: 90%;
}

.statuswav.online {
    background-color: rgb(15, 241, 11);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(4, 255, 0, 0.36);
    -moz-box-shadow: 0px 0px 8px 4px rgba(4, 255, 0, 0.36);
    box-shadow: 0px 0px 8px 4px rgba(4, 255, 0, 0.36);
}
.statuswav.offline {
    background-color: rgb(241, 11, 11);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(241, 11, 11, 0.36);
    -moz-box-shadow: 0px 0px 8px 4px rgba(241, 11, 11, 0.36);
    box-shadow: 0px 0px 8px 4px rgba(241, 11, 11, 0.36);
}

.downloadwavebt {
    position: absolute;
    z-index: 1;
    border-style: solid;
    background-color: rgb(32, 32, 32);
    color: rgb(127, 109, 231);
    border-radius: 7px;
    width: 180px;
    height: 40px;
    top: 374px;
    left: 493px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.downloadwavebtt {
    position: absolute;
    z-index: 1;
    border-style: solid;
    background-color: rgb(32, 32, 32);
    color: rgb(127, 109, 231);
    border-radius: 7px;
    width: 180px;
    height: 40px;
    top: 374px;
    left: 680px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.downloadwiwav {
    z-index: 2;
    width: 90px;
    background-color: black;
    top: 419px;
    position: absolute;
    height: 2px;
    left: 541px;
}
.downloadwiwavv {
    z-index: 2;
    width: 90px;
    background-color: black;
    top: 419px;
    position: absolute;
    height: 2px;
    left: 721px;
}
